@model IEnumerable<TaskOne.Models.FilePath>

<br />
<br />
<div class="border p-4 bg-white">
    <div class="row">
        <div class="col-8">
            <h2 class="text-info"> Assignment File List</h2>
        </div>
    </div>
    <br />
    <div>
        @if (Model != null)
        {
            @if (Model.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            Assignment Id
                        </th>
                        <th>Assignment Id</th>
                        <th>View File</th>
                        <th>Download File</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.AssignmentId
                            </td>
                           <td>
                                @item.Assignment.AssignmentTitle
                           </td>
                           <td>
                                @{
                                    string fullUrl = item.Path;
                                    string[] urlParts = fullUrl.Split(new[] { "\\img\\" }, StringSplitOptions.None);
                                    string fileName = urlParts.Length > 1 ? urlParts[1] : "";
                                }
                                <a href="@item.Path" target="_blank">View File</a>
                           </td> 
                           <td>
                                <a href="@Url.Action("DownloadFile", "Assignment", new { FilePath = item.Path })">Download File</a>
                           </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No file links exists...</p>
            }
        }
        else
        {
            <p>No file links exists...</p>
        }
    </div>
</div>